mixin avatar
  img(src='./static/images/avatar.png')

mixin contact
  ul
    li.email daixuan1996@gmail.com
    li.phone 18826234729
    li.website http://daixuan.me
    li.degree Software School in SYSU
