mixin avatar
  img(src='./static/images/avatar.png')

mixin contact
  ul
    li.phone 18826234729
    li.email
      a(href='mailto://daixuan1996@gmail.com') daixuan1996@gmail.com
    li.github
      a(href='https://github.com/daix6', target='_blank') https://github.com/daix6
    li.weibo
      a(href='http://weibo.com/1996DX', target='_blank') http://weibo.com/1996DX
    li.website
      a(href='http://daixuan.me', target='_blank') http://daixuan.me
    li.degree
      a(href='http://ss.sysu.edu.cn/InformationSystem/', target='_blank') Software School in SYSU

mixin experience
  dl
    dt.resume
      h5
        a(href='#', target='_blank') My resume
    dd
      p.
        A resume template which read data from JSON file and generate static page with Jade and Less.
    dt.fep
      h5
        a(href='#', target='_blank') E_help
    dd
      p.
        A project which hopes to make help easier.
    dt.diary
      h5
        a(href='#', target='_blank') Diary Site
    dd
      p.
        Automatically read data from submodule and generate page.
    dt.blog
      h5
        a(href='#', target='_blank') My blog
    dd
      p.
        My technical blog for summary or something important.

