extends ./layout/layout.jade
include ./mixins/mixin.jade

block style
  link(rel='stylesheet', href='./css/index.css')

block author
  figure.avatar
    +avatar
  section.author-info
    h2 Shawn Dai
    h4 Front-End Engineer
  address.contact
    h3 Contact me!
    hr
    +contact

block content
  main
    header
      h2 Welcome to Shawn's website!
    article
      section.short
        p.
          I'm Shawn, and I'm learning how to be an excellent front-end engineer.
        p.
          Here are some useful links that I've put my energy in, which may help you to know me better!
      section.experience
        ul
          li.resume
            a(href='#', target='_blank') My resume
          li.fep
            a(href='#', target='_blank') e_help
          li.diary
            a(href='#', target='_blank') diary

//- block footer
//-   p Designed and Developed by Shawn Dai
//-   p Copyright © 2015 daixuan.me. All Rights Reserved.
