extends ./layout/layout.jade
include ./mixins/mixin.jade

block style
  link(rel='stylesheet', href='./css/index.css')

block author
  figure.avatar
    +avatar
  section.author-info
    h2 Shawn Dai
    h4 Front-End Engineer
  address.contact
    h3 Contact me!
    hr
    +contact

block content
  main
    header

    article

//- block footer
//-   p Designed and Developed by Shawn Dai
//-   p Copyright © 2015 daixuan.me. All Rights Reserved.
