extends ./layout/layout.jade
include ./mixins/mixin.jade

block style
  link(rel='stylesheet', href='./css/index.css')

block author
  figure
    +avatar
  section
    h3 Shawn Dai
    h5 前端工程师
  address
    +contact

block content
  main
    header

    article

//- block footer
//-   p Designed and Developed by Shawn Dai
//-   p Copyright © 2015 daixuan.me. All Rights Reserved.
