extends ./layout/layout.jade
include ./mixins/mixin.jade

block style
  link(rel='stylesheet', href='./css/index.css')

block author
  figure.avatar
    +avatar
  section.author-info
    h2 Shawn Dai
    h4 Front-End Engineer
  address.contact
    h3 Contact me!
    hr
    +contact

block content
  main
    article
      section.short
        header
          h3 Welcome to Shawn's website!
        p.
          I'm Shawn, a junior who major in Software Engineering at Software School in Sun Yat-Sen University. I'm learning how to be an excellent front-end engineer now.
      section.experience
        header
          h3 Experience
        p.
          Here are some useful links that I've put my energy in before, which may help you to know me better!
        +experience
      section.copyright
        header
          h3 Copyright
        p Designed and Developed by Shawn Dai.
        p Copyright © 2015 daixuan.me. All Rights Reserved.
