aside {
  position: fixed;

  @media (max-width: @screen-sm-max) {
    left: -@aside-width;
  }

  @media (min-width: @screen-sm-min) {
    left: 0;
  }

  top: 0;
  width: @aside-width;
  height: 100%;
  padding: @default-padding;
  background-color: rgba(0, 0, 0, 0.7);

  .transition(left);
  z-index: 100;
  address {
    font-style: normal;
  }
}

aside.mobile {
  left: 0;
  .transition(left);
}

.avatar {
  @media (max-height: @screen-sm-height-min) {
    display: none;
  }

  width: @aside-avatar-size;
  height: @aside-avatar-size;

  img {
    width: @aside-avatar-size;
    height: @aside-avatar-size;
    border-radius: 5%;
  }
}

.author-info {
  @media (max-height: @screen-sm-height-min) {
    margin-top: 0;
  }
  margin-top: @default-margin;

  h2 {
    margin-bottom: 10px;
  }
}

.contact {
  position: absolute;
  @media (max-height: @screen-xs-height-min) {
    h3 {
      display: none;
    }
  }
  @media (max-height: @screen-sm-height-min) {
    bottom: 0;
  }
  bottom: @default-margin;

  hr {
    margin: 10px 0;
  }

  li {
    margin: 5px 0;
  }

  a {
    .transition(color);

    &:hover, &:focus, &:active {
      color: @bg-color;
      .transition(color);
    }
  }
}

.set-li-icon(email, @fa-var-envelope, white);
.set-li-icon(phone, @fa-var-phone, white);
.set-li-icon(website, @fa-var-link, white);
.set-li-icon(degree, @fa-var-graduation-cap, white);
.set-li-icon(github, @fa-var-github-alt, white);
.set-li-icon(weibo, @fa-var-weibo, white);
