aside {
  position: fixed;
  left: 0;
  top: 0;

  min-width: 250px;
  height: 100%;
  padding: @aside-padding;
  background-color: rgba(0, 0, 0, 0.5);
}

.avatar {
  width: @aside-avatar-size;
  height: @aside-avatar-size;
  margin: 0 auto;

  img {
    width: @aside-avatar-size;
    height: @aside-avatar-size;
    border-radius: 50%;
  }
}

.author-info {
  margin-top: 25px;
}

.contact {
  position: absolute;
  bottom: @aside-avatar-size;

  hr {
    margin: 10px 0;
  }
}

.set-li-icon(email, @fa-var-envelope, white);
.set-li-icon(phone, @fa-var-phone, white);
.set-li-icon(website, @fa-var-rss, white);
.set-li-icon(degree, @fa-var-graduation-cap, white);
