.container {
  position: absolute;

  @media (max-width: @screen-sm-min) {
    left: 0;

    &.mobile {
      opacity: 0.5;
      .transition(opacity);
    }
  }

  top: 0;
  left: @aside-width;
  padding: @default-padding;
  .transition(opacity);
}

main {
  section {
    line-height: 1.667;
  }

  section + section {
    margin: @default-margin 0;
  }

  a {
    .transition(color);
    &:hover, &:focus, &:active {
      .transition(color);
      color: darken(@text-color, 10%);
    }
  }
}

header {
  padding-bottom: .75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ccc;
}

dl {
  margin-top: @default-margin;
}

section dd {
  padding-left: @default-margin;
}

dt h5 {
  display: inline-block;
}

dd p {
  padding: 0 5px;
}

.copyright {
  margin-top: @default-margin;
}

.copyright a {
  text-decoration: underline;
}

.short h3 {
  margin-right: @mobile-click-size;
}

#click_mobile {
  display: none;

  @media (max-width: @screen-sm-min) {
    display: inline;
    margin-right: -@mobile-click-size;
  }

  &::before {
    cursor: pointer;
    .fa-icon(24px, 8px, inherit, @text-color);
    content: @fa-var-angle-double-right;
    font-size: 24px;
  }

  .transition(transform);

  &.mobile {
    transform: rotate(-180deg);
    .transition(transform);
  }
}

#click_mobile.mobile {
  transform: rotate(-180deg);
}

.set-li-icon(resume, @fa-var-book, inherit);
.set-li-icon(fep, @fa-var-link, inherit);
.set-li-icon(diary, @fa-var-calendar, inherit);
.set-li-icon(blog, @fa-var-pencil, inherit);
