//== Font
@font-family-sans: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
@font-family-serif: 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
//= Font-Size
@font-size-base: 16px;
@font-size-h1: 2.25rem;
@font-size-h2: 1.75rem;
@font-size-h3: 1.5rem;
@font-size-h4: 1.25rem;
@font-size-h5: 1rem;
@font-size-h6: 1rem;

//== Color
@text-color: @soft-rice;
@bg-color: @soft-blue;

//== Icon
@fa-font-path:        "../static/fonts";
@fa-font-size-base:   14px;
@fa-css-prefix:       fa;
@fa-version:          "4.3.0";

//== Aside / Content
@aside-width: 245px;
@aside-avatar-size: 100px;
@mobile-click-size: 40px;

//== Common
@default-padding: 25px 15px 25px 15px;
@default-margin: 25px;

//== Media queries breakpoints
@screen-sm: 768px;
@screen-sm-min: (@screen-sm + 1);
@screen-sm-max: @screen-sm;

@screen-sm-height: 440px;
@screen-sm-height-min: @screen-sm-height;

@screen-xs-height: 280px;
@screen-xs-height-min: @screen-xs-height;
