doctype html
html
  head
    title Shawn's Navigation
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
  body
    aside.serif
      block author
    .container.sans-serif
      block content
    block scripts
