include ../mixins/ga.jade

doctype html
html
  head
    title Shawn's Navigation
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
    +ga
  body
    aside
      block author
    .container
      block content
    block scripts
