doctype html
html
  head
    title XD~
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
  body
    aside
      block author
    .container
      block content
    footer
      block footer
    block scripts